@import url(collab_badge.css);
.input {
    padding: 2px 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    color: #888787;
    border: 1px solid #bdbdbd;
    font-size: 16px;
    letter-spacing: 1px;
    height: 50px !important;
}

.input:focus,
.input:valid {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #7635dc !important;
    outline-width: 0 !important;
}

.form-control-placeholder {
    position: relative;
    bottom: 2.5rem;
    padding: 12px 2px 0 2px;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    transition: all 300ms;
    opacity: 0.5;
    left: 2rem;
}

.input:focus + .form-control-placeholder,
.input:valid + .form-control-placeholder {
    padding-right: 0.5rem;
    opacity: 0;
}

.annuairebg {
    background: white;
}

.btn_submit {
    background-color: #7635dc;
    color: white !important;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
}

.logo_formation img {
    height: 3.125rem;
    width: 3.125rem;
}

.recherche {
    border: none;
    border-bottom: 5px solid #7635dc;
}

.btn_actions {
    background: #7635dc;
    color: white !important;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: all 0.5s ease;
}

.btn_actions:hover {
    transform: scale(1.1);
}

.btn_actions .bx {
    position: relative;
    top: 0.3rem;
    margin-right: 0.5rem;
    font-size: 1.4rem !important;
}

.btn_actions a {
    text-decoration: none;
    color: inherit;
}

.phone_detail {
    background: rgba(128, 128, 128, 0.176);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.phone_detail .bx {
    font-size: 1.5rem;
    cursor: pointer;
}

.adresse {
    color: rgba(35, 35, 248, 0.759);
}
.detail_content {
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: auto;
    transition: all .5s ease;
}

.detail_content:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.filtres {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 1rem 1.5rem;
    height: 22rem;
    position: sticky;
    top: 3rem;
}
.filtres h6 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.alphabet {
    display: flex;
    place-content: center;
    font-size: 1.3rem;
    letter-spacing: 1.5rem;
    cursor: pointer;
    color: grey;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    background: #7535dc19;
}
.alphabet span{
    text-decoration: none;
}

.alphabet span:hover{
    color: #7635dc;
}

.logo_content{
    display: grid;
}

.logo_img{
    width: 123px;
    height: 92px;
}
.pagination{
    display: flex;
}
.detail_content h4 a:hover{
    color: #7635dc;
}

.activer_filtre{
color: #7635dc;
}

/* details cfp */

.details_content {
    background-color: white;
    padding: 1rem 1.5rem;
    margin: auto;
    transition: all .5s ease;
    color: black !important;
    border: none;
    border-bottom: 1px solid grey;
    /* border-top: 1px solid grey; */
}

.location{
    /* background: url("../../images/CFP/Capture\ d’écran\ 2022-03-14\ à\ 15.44.30.png"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}
.services{
    border: none;
    border-bottom: 1px solid grey;
}
.services p{
    color: grey;
}

.services .choisir{
    color: black;
}

.services .border_end{
    border: none;
    border-right: 1px solid grey;
}
.services .bx{
    color: #5433FF;
    font-size: 1.5rem;
    margin-right: .5em;
    position: relative;
    top: .3rem;
}

.avis{
    background-color: rgba(176, 175, 175, 0.124);
    padding: 1rem;
}

.avis .bx{
    font-size: 1.5rem;
    color: #5433FF;
    margin-right: 1rem;
}

.details_plus h5{
    font-size: 1.8rem;
}
.details_plus .strong{
    font-size: 1.3rem;
    font-stretch: 50%;
}

.horloge{
    color: #7635dc;
}

.formations{
    border-radius: 10px;
    padding: .4rem .8rem;
    margin: .5rem 0;
    margin-bottom: 4rem;
    transition: all .5s ease;
    color: white !important;
    background-color: #637381;
    cursor: default !important;
}

.formations:hover{
    color: white !important;
    background: #7635dc;
    border: none;
    transform: scale(1.1);
}

.fix_top{
    position: sticky;
    top: 6rem;
    z-index: 1;
    background-color: white;
}

.fix_top_row{
    position: sticky !important;
    top: 4rem;
    z-index: 1;
    background-color: white;
}
.pagination{
    font-size: 1.5rem;
}

.text_minifier{
    font-size: .8rem;
}

.fixer{
    position: sticky !important;
    top: 6rem;
}

.fixer2{
    position: sticky !important;
    top: 26rem;
}
.fixer3{
    position: sticky !important;
    top: 41rem;
}

.avis_verif{
    color: #5433FF;
}

:root {
    --star-size: 20px;
    --star-color: #c8c7c77c;
    --star-background: #fc0;
}

.Stars{
    --poucentage: calc(var(--note) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;

}
.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--poucentage), var(--star-color) var(--poucentage));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.table-rating-bar .rating-label {
    font-weight: bold;
}

.table-rating-bar .rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}

.table-rating-bar .bar-container {
    width: 100%;
    background-color: #c8c7c752;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.table-rating-bar .bar-container .bar-5 {
    width: var(--progress_bar);
    height: 13px;
    background-color: orangered;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-4 {
    width: var(--progress_bar);
    height: 13px;
    background-color: orangered;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-3 {
    width: var(--progress_bar);
    height: 13px;
    background-color: orangered;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-2 {
    width: var(--progress_bar);
    height: 13px;
    background-color: orangered;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-1 {
    width: var(--progress_bar);
    height: 13px;
    background-color: orangered;
    border-radius: 20px;
}

.table-rating-bar td {
    padding-bottom: 10px;
}

.Stars {
    color: orangered;
}
.rating-star .checked {
    color: orangered;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating-star .checked:hover {
    color: #f9a825;
    cursor: pointer;
}

.text_minifier{
    font-size: .8rem;
}

.place_badge{
 display: grid;
 place-content: center;
}

.mode1 {
    /* background: linear-gradient(to bottom right, #1976D2 0%, #283593 100%); */
    color: #1c68c5;
}

.mode2 {
    /* background: linear-gradient(to bottom right, #cddc39 0%, #8bc34a 100%); */
    color: #7cb342;
}

.mode3 {
    /* background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%); */
    color: #c62828;
}

.mode4 {
    /* background: linear-gradient(to bottom right, #e6ce6a 0%, #b7892b 100%); */
    color: #f68401;
}

.mode5 {
    /* background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%); */
    color: #ffb300;
}

.moins_avis{
    visibility: hidden;
}

