@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300&display=swap");

:root {
    --padding_icon: 5px;
    --padding_button: 6px 5px 5px 5px !important;
    --font_size: 1.3rem;
    --bgd_all: rgba(197, 197, 197, 0.232);
    --bgd_modifier_hover: #4A00E727;
    --bgd_supprimer_hover: #ee070727;
    --bgd_ajouter_hover: #07cd1727;
    --brd_radius: 0.313rem;
    --display: inline-block;
    --transition: all 200ms;
    --transform: scale(1.05);
    --bg_color_modifier: #4A00E0;
    --bg_color_supprimer: #ee0707;
    --bg_color_annuler: #ee0707;
    --bg_annuler_bx: #b31217;
    --bg_color_fermer: #1488CC;
    --bg_fermer_bx: #26a0da;
    --bg_color_enregistrer: #9733EE;
    --bg_enregistrer_bx: #DA22FF;
    --bg_color_precedent: #9733EE;
    --bg_precedent_bx: #DA22FF;
    --bg_color_suivant: #9733EE;
    --bg_suivant_bx: #DA22FF;
    --bg_color_ajouter: #07cd19;
    --bg_color_nouveau: #077127;
    --txt_color:#ffffff;
}

/* components */
/* icon */
/* icon à utiliser pour modifier <i class='bx bx-edit bx_modifier'></i> */
.bx_modifier{
    padding: var(--padding_icon);
    background-color: var(--bgd_all);
    border-radius: var(--brd_radius);
    cursor: pointer;
    display: var(--display);
    transition: var(--transition);
    color: var(--bg_color_modifier) !important;
    font-size: var(--font_size) !important;
}

.bx_modifier:hover {
    background-color: var(--bgd_modifier_hover);
    transform: var(--transform);
}


/* icon à utiliser pour supprimer <i class='bx bx-trash me-1'></i> */
.bx_supprimer{
    padding: var(--padding_icon);
    background-color: var(--bgd_all);
    border-radius: var(--brd_radius);
    cursor: pointer;
    display: var(--display);
    transition: var(--transition);
    color: var(--bg_color_supprimer) !important;
    font-size: var(--font_size) !important;
}

.bx_supprimer:hover {
    background-color: var(--bgd_supprimer_hover);
    transform: var(--transform);
}

/* icon à utiliser pour ajouter <i class='bx bx-plus-medical me-1'></i> */
.bx_ajouter{
    padding: var(--padding_icon);
    background-color: var(--bgd_all);
    border-radius: var(--brd_radius);
    cursor: pointer;
    display: var(--display);
    transition: var(--transition);
    color: var(--bg_color_ajouter) !important;
    font-size: var(--font_size) !important;
}

.bx_ajouter:hover {
    background-color: var(--bgd_ajouter_hover);
    transform: var(--transform);
}

/* button nouveau */
/* icon à utiliser pour nouveau <i class='bx bx-plus-medical me-1'></i> */

.btn_nouveau{
    padding: var(--padding_button);
    color: var(--txt_color) !important;
    /* background: var(--bg_color_nouveau); */
    /* background-image: linear-gradient(60deg, var(--bg_color_ajouter), var(--bg_color_nouveau)); */
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
    position: relative;
    top: 5px;
    border-radius: var(--brd_radius);
    cursor: pointer;
    border: none;
    text-transform: capitalize;
}

.btn_nouveau:hover{
    text-decoration: none;
    color: var(--bg_color_enregistrer) !important;
    border: 1px solid var(--bg_color_enregistrer);
    /* background-color: var(--txt_color); */
    background: transparent;
}

.btn_nouveau .bx{
    position: relative;
    top: 1px;
    color: var(--txt_color) !important;
    padding: var(--padding_icon);
    background-color: var(--bg_enregistrer_bx);
    border-radius: var(--brd_radius);
}

.btn_nouveau:hover .bx{
    color: var(--txt_color);
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
}

/* button annuler */
/* icon à utiliser pour annuler <i class='bx bx-x me-1'></i> */

.btn_annuler{
    padding: var(--padding_button);
    color: var(--bg_color_annuler) !important;
    border: 1px solid var(--bg_color_annuler);
    background-color: var(--txt_color);
    position: relative;
    top: 5px;
    border-radius: var(--brd_radius);
    cursor: pointer;
    text-transform: capitalize;
}

.btn_annuler:hover{
    text-decoration: none;
    border: none;
    color: var(--txt_color) !important;
    /* background: var(--bg_color_annuler); */
    background-image: linear-gradient(60deg, orangered, var(--bg_annuler_bx));

}

.btn_annuler .bx{
    position: relative;
    top: 1px;
    padding: var(--padding_icon);
    /* background-color: var(--bg_color_annuler); */
    background-image: linear-gradient(60deg, orangered, var(--bg_annuler_bx));
    border-radius: var(--brd_radius);
    color: var(--txt_color) !important;
    font-weight: 900;
}

.btn_annuler:hover .bx{
    color: var(--txt_color);
    background-color: var(--bg_annuler_bx);
}

.btn_annuler a:hover{
    text-decoration: none !important;
}

/* button fermer */
/* icon à utiliser pour fermer <i class='bx bx-block me-1'></i> */

.btn_fermer{
    padding: var(--padding_button);
    border: 1px solid var(--bg_color_fermer);
    background-color: var(--txt_color);
    color: var(--bg_color_fermer) !important;
    position: relative;
    top: 5px;
    border-radius: var(--brd_radius);
    cursor: pointer;
    text-transform: capitalize;
}

.btn_fermer:hover{
    text-decoration: none;
    border: none;
    color: var(--txt_color) !important;
    /* background: var(--bg_color_fermer); */
    background-image: linear-gradient(60deg, var(--bg_fermer_bx), var(--bg_color_modifier));

}

.btn_fermer .bx{
    position: relative;
    top: 1px;
    padding: var(--padding_icon);
    /* background-color: var(--bg_fermer_bx); */
    background-image: linear-gradient(60deg, var(--bg_fermer_bx), var(--bg_color_modifier));
    border-radius: var(--brd_radius);
    color: var(--txt_color) !important;
    font-weight: 900;
}

.btn_fermer:hover .bx{
    color: var(--txt_color);
    /* background-image: var(--bg_annuler_bx); */
    background-image: linear-gradient(60deg, var(--bg_fermer_bx), var(--bg_color_fermer));
}

/* button enregistrer */
/* icon à utiliser pour enregistrer <i class='bx bx-check me-1'></i> */

.btn_enregistrer{
    padding: var(--padding_button);
    color: var(--txt_color) !important;
    /* background: var(--bg_color_enregistrer) !important; */
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
    position: relative;
    top: 5px;
    border-radius: var(--brd_radius);
    cursor: pointer;
    border: none;
    text-transform: capitalize;
}

.btn_enregistrer:hover{
    text-decoration: none;
    color: var(--bg_color_enregistrer) !important;
    border: 1px solid var(--bg_color_enregistrer) !important;
    /* background-color: var(--txt_color) !important; */
    background: transparent;
}

.btn_enregistrer .bx{
    position: relative;
    top: 1px;
    padding: var(--padding_icon);
    background-color: var(--bg_enregistrer_bx);
    border-radius: var(--brd_radius);
    color: var(--txt_color) !important;
    font-weight: 900;
}

.btn_enregistrer:hover .bx{
    color: var(--txt_color);
    /* background-color: var(--bg_color_enregistrer); */
    background-image: linear-gradient(60deg, #f206ee, #0765f3);

}

/* button precedent */
/* icon à utiliser pour precedent <i class='bx bxs-chevron-left me-1'></i> */

.btn_precedent{
    padding: var(--padding_button);
    color: var(--txt_color) !important;
    /* background: var(--bg_color_precedent);*/
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
    position: relative;
    top: 5px;
    border-radius: var(--brd_radius);
    cursor: pointer;
    text-transform: capitalize;
}

.btn_precedent:hover{
    text-decoration: none;
    color: var(--bg_color_precedent) !important;
    border: 1px solid var(--bg_color_precedent);
    /* background-color: var(--txt_color); */
    background: transparent;
}

.btn_precedent .bx{
    position: relative;
    top: 1px;
    padding: var(--padding_icon);
    background-color: var(--bg_precedent_bx);
    border-radius: var(--brd_radius);
    color: var(--txt_color) !important;
    font-weight: 900;
}

.btn_precedent:hover .bx{
    color: var(--txt_color);
    /* background-color: var(--bg_color_precedent); */
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
}

/* button suivant */
/* icon à utiliser pour suivant <i class='bx bxs-chevron-right ms-1'></i> */

.btn_suivant{
    padding: var(--padding_button);
    color: var(--txt_color) !important;
    background: var(--bg_color_suivant);
    position: relative;
    top: 5px;
    border-radius: var(--brd_radius);
    cursor: pointer;
    text-transform: capitalize;
}

.btn_suivant:hover{
    text-decoration: none;
    color: var(--bg_color_suivant) !important;
    border: 1px solid var(--bg_color_suivant);
    background-color: var(--txt_color);
}

.btn_suivant .bx{
    position: relative;
    top: 1px;
    padding: var(--padding_icon);
    background-color: var(--bg_suivant_bx);
    border-radius: var(--brd_radius);
    color: var(--txt_color) !important;
    font-weight: 900;
}

.btn_suivant:hover .bx{
    color: var(--txt_color);
    background-color: var(--bg_color_suivant);
}

/* utilities */
/* modal */

.modal-header {
    background-color: #2ebf91 ;
    color: white !important;
    text-align: center !important;
    justify-content: center !important;
    text-transform: capitalize !important;
}

input:focus,
select:focus,
textarea:focus{
    box-shadow: none !important;
    outline: none !important;
}

button:focus{
    box-shadow: none !important;
    outline: none !important;
}

a:focus{
    box-shadow: none !important;
    outline: none !important;
}

thead th{
    font-weight: 500 !important;
}

th{
    font-weight: 500 !important;
}

tbody td{
    vertical-align: middle;
}

sup{
    color: #26a0da;
}

li a:focus{
    background-color: transparent !important;
}

.form-check-input:disabled{
    opacity: 1 !important;
}

@media screen {

}
