

label.in-non-modal span {
    opacity: 1;
}

.input-placeholder {
    position: absolute;
    top: 30%;
    left: 20%;
    /* opacity: 0.5; */
    z-index: 100;
    transition: 0.3s;

}

.in-non-modal{
    left: 10%;
}


.input:focus+.input-placeholder, .input:valid+.input-placeholder{
    transform: translateY(-100%);
    transition: 0.3s;
}

.input,
.input_select {
    padding: 2px 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    color: #637381;
    border: 1px solid #28a7eb;
    font-size: 16px;
    letter-spacing: 1px;
    height: 40px !important;
}

.input:focus,
.input_select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #28a7eb !important;
    outline-width: 0 !important;
}

.input:focus,
.input:valid {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #28a7eb !important;
    outline-width: 0 !important;
}

.form-control-placeholder {
    position: relative;
    bottom: 2.5rem;
    padding: 12px 2px 0 2px;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    transition: all 300ms;
    opacity: 0.5;
    left: 2rem;
}

.input:focus+.form-control-placeholder,
.input:valid+.form-control-placeholder {
    font-size: 1rem;
    font-weight: 500;
    bottom: 2rem;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background-color: white;
    color: #28a7eb;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.text_area {
    padding: 10px 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    color: #637381;
    border: 1px solid #28a7eb;
    font-size: 0.850rem;
    letter-spacing: 1px;
    height: 200px;
}

.text_area:focus,
.text_area:valid {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #28a7eb !important;
    outline-width: 0 !important;
}

.form-control-placeholder-text_area{
    position: relative;
    bottom: 12rem;
    padding: 12px 2px 0 2px;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    transition: all 300ms;
    opacity: 0.5;
    left: 2rem;
    font-size: 0.850rem;
}

.text_area:focus+.form-control-placeholder-text_area,
.text_area:valid+.form-control-placeholder-text_area {
    font-size: 1rem;
    font-weight: 500;
    bottom: 11.5rem;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background-color: white;
    color: #28a7eb;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}