
.input {
    padding: 2px 1rem;
    border-radius: 5px !important;
    box-sizing: border-box;
    color: #637381;
    border: 1px solid #28a7eb;
    font-size: 16px;
    letter-spacing: 1px;
    height: 50px !important;
}

.input:focus,
.input:valid {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #7635dc !important;
    outline-width: 0 !important;
}

/* .text_area {
    padding: 10px 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    color: #28a7eb;
    border: 1px solid #28a7eb;
    font-size: 0.850rem;
    letter-spacing: 1px;
    height: 200px;
} */

.text_area:focus,
.text_area:valid {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #7635dc !important;
    outline-width: 0 !important;
}

.form-control-placeholder {
    position: relative;
    bottom: 3.5rem;
    padding: 12px 2px 0 2px;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    transition: all 300ms;
    opacity: 1;
}

/* .form-control-placeholder-text_area{
    position: relative;
    top: 4rem;
    padding: 12px 2px 0 2px;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    transition: all 300ms;
    opacity: 0;
    left: 2rem;
    font-size: 0.850rem;
} */

.input:focus+.form-control-placeholder,
.input:valid+.form-control-placeholder {
    position: relative;
    font-size: 1rem;
    bottom: 4rem;
    opacity: 1;
    /* background-color: white;
    color: #7635dc;
    padding-left: 0.5rem;
    padding-right: 0.5rem; */
}


/* .text_area:focus+.form-control-placeholder-text_area,
.text_area:valid+.form-control-placeholder-text_area {
    font-size: 1rem;
    font-weight: 500;
    bottom: 4rem;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background-color: white;
    color: #7635dc;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
} */