@import url("inputControlModules.css");
.detail__formation__result {

    box-sizing: border-box;
    background-color: #7635dc;
    width: 25rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    margin-top: 20px;
    height: 20rem;
    border-radius: 5px;
}

.detail__formation__result h4{
    font-size: 1rem;
    font-weight: 300;
    color: #7635dc !important;
}

.detail__formation__result h4 .acf-nom_module{
    font-size: 1rem;
    font-weight: 500;
    color: #7635dc !important;
}

.detail__formation__result__avis .bx{
    color: #7635dc;
}

.detail__prix__head {
    color: white;
    background-color: #637381;
    text-align: center;
}

.btn_competence{
    background: #7635dc;
    color: #f1f1f1 !important;
    transition: all 0.5s ease;
    position: relative;
    bottom: .65rem;
    margin-left: 2px;
}

.btn_competence .bx{
    position: relative;
    right: 0.38rem;
    top: 0.2rem;
}

.btn_competence:hover{
    color: #7635dc !important;
    transform: scale(1.1);
    background: #7535dc28;
}

/* section 0 */
.detail__formation__item__left__objectif {
    border: 1px solid rgb(226, 222, 222);
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.detail__formation__item__left__objectif h5 {
    font-size: 16px;
    font-weight: bolder;
}

.detail__formation__item__left__objectif .adresse__icon {
    color: #637381;
}

/* section 1 */
/* .detail__formation__item__left__adresse {
    border: 1px solid rgb(226, 222, 222);
    padding: 20px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.detail__formation__item__left__adresse .adresse__icon {
    color: #637381;
} */

.detail__formation__item__left__prerequis {
    text-align: center;
}
/* section 2 */
.detail__formation__programme__left__prog {
    border: 1px solid rgb(226, 222, 222);
    margin-right: 20px;
}
.detail__formation__programme__left__prog .prog-icon {
    text-align: center;
    color: red;
    font-size: 20px;
    padding-top: 10px;
}
.detail__formation__programme__left__prog .prog-text {
    background-color: rgb(221, 221, 221);
    padding-top: 10px;
}
.detail__formation__programme__left__prog2 .prog-icon {
    text-align: right;
}
/* section 3 */

.btn-check:focus + .btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.detail__formation__item__left__accordion {
    margin-right: 20px;
    padding: 0;
}
.detail__formation__item__left__accordion .accordion {
    padding: 0;
}
.detail__formation__item__left__accordion .icon-prog-list {
    color: red;
    font-size: 20px;
}
.prog_mise_en_eouvre {
    padding-right: 25px;
}

#heading1 button {
    background-color: transparent;
}

/* section 5 */
.detail__formation__programme__avis {
    padding-right: 20px;
}
.detail__formation__programme__avis .card {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.detail__formation__programme__avis__rated .rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    color: black;
}


.detail__formation__programme__avis__donnes {
    border-radius: 5px;
    background-color: rgba(226, 226, 226, 0.421);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.detail__formation__programme__avis__donnes .text-left {
    margin: 0;
    margin-bottom: 16px;
    padding-top: 16px;
    align-content: center;
}
.detail__formation__programme__avis__donnes .text-left .checked {
    color: orangered;
}
.detail__formation__programme__avis__donnes .text-left .checked:hover {
    color: #f9a825;
    cursor: pointer;
}

.input-group-addon.success {
    color: black;
    background-color: white;
    border-color: none;
    margin-top: 8px;
    padding-top: 13px;
    height: 3.1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    border-bottom: 1px solid var(--color-child);
}
.input-group-addon.success:hover {
    background-color: var(--color-child);
    color: white;
}

.live_preview {
    background-color: rgb(211, 210, 210);
    padding: 2rem 3rem 2rem 3rem;
    color: #939ba0;
    padding-bottom: 4rem;
}

.postion_fixe_form {
    position: sticky;
    top: 4.5rem;
    height: 20rem;
}

.postion_fixe {
    position: sticky;
    top: 3rem;
    height: 15rem;
}

.postion_fixe span{
    font-size: 0.850rem;
}

.btn_change_form {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.2s ease;
    border-radius: 3px;
}

.btn_change_form:hover {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.1);
}

#border_premier {
    color: #637381;
}

.apres_preview {
    display: none;
}

.tox .tox-statusbar__text-container,
.tox .tox-statusbar{
    display: none !important;
}

.tox-toolbar__primary,
.tox .tox-menubar{
    background: #7535dc27 !important;
    color: #7635dc !important;
}

.tox-tinymce{
    border-radius: 5px;
}

.actions_buttons .btn-success {
    background-color: #198907;
    transition: all 0.5s ease;
}

.actions_buttons .btn-danger {
    background-color: #ff0000;
    transition: all 0.5s ease;
}

.actions_buttons .btn-success:hover,
.actions_buttons .btn-danger:hover {
    transform: scale(0.9);
}

#preview_module {
    color: #637381;
}

#preview_categ {
    color: #637381;
    font-size: 0.850rem;
}


#preview_descript,
#preview_haut2,
#preview_modalite,
#preview_niveau {
    color: #637381;
    font-size: 0.850rem;
}
.list_module {
    color: red;
}

.pading_bas {
    padding-bottom: 8rem;
}
.new_module_prix {
    font-size: 1.1rem;
    letter-spacing: 0;
    color: #637381;
    font-weight: 500;
    text-align: end;
}

.active_prix{
    display: block;
}

.btn_changer_prix{
    background:linear-gradient(60deg,#7635dc, #2B32B2)  ;
    border: none;
    border-radius: 30px;
    padding: .2rem 1rem;
    color: white !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all .5s ease;
}

.btn_changer_prix:hover{
    transform: scale(1.05);
    color: white !important;

}

.detail__formation__result__avis span{
    font-size: 0.8rem;
}

/* liste modules */

.navigation_module .nav-link {
    color: #637381;
    padding: 5px;
    cursor: pointer;
    font-size: 0.900rem;
    transition: all 200ms;
    margin-right: 1rem;
    text-transform: uppercase;
    padding-top: 10px;
    border: none;
}

/*.nav-item.active .nav-link {
    border-bottom: 3px solid #7635dc !important;
    border: none;
    color: #7635dc;
} */

.nav-item.active .nav-link {
    border-bottom: 3px solid #7635dc !important;
    border: none;
    color: #7635dc;
}

.nav-tabs .nav-link:hover {
    background-color: rgb(245, 243, 243);

    border: none;
}
.nav-tabs .nav-item a{
    text-decoration: none;
    text-decoration-line: none;
}

.filtre_cours{
    background: rgba(255, 255, 255, 0.856);
    border-radius: 10px;
    height: 30rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.filtre_cours h5{
    font-size: 1rem;
}

.filtre_cours label{
    font-size: 0.900rem;
}


.searchButtonMod {
    border: none;
    background-color: #7535dc3f;
    border-radius: 5px;
    color: #7635dc !important;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: all .5s ease;
    margin-top: 1px;
    position: relative;
    top: 2px;
}

.searchInputMod {
    border: none;
    background: rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    height: 34px;
    padding-left: 1rem;
    outline-color: #7635dc;
}

.searchInputMod:focus{
    background-color: white;
}

.searchBoxMod:hover > .searchButtonMod {
    background: rgba(128, 128, 128, 0.247);
    color: #7635dc !important;
    border-radius: 15px;
    transform: scale(1.1);
    font-size: 17px;
}

.searchInputMod::placeholder {
    color: #7635dc !important;
font-size: 0.850rem;
}

.modal_grand {
    width: 70rem;
    position: relative;
    right: 60%;
}

.background_grey {
    padding: 5px;
    background-color: rgba(197, 197, 197, 0.192);
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    transition: all 200ms;
}

.background_grey:hover {
    /* background-color: rgba(92, 92, 241, 0.61); */
    background-color: #0051d427;
    transform: scale(1.05);
}

.background_grey2 {
    padding: 5px;
    background-color: rgba(197, 197, 197, 0.192);
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    transition: all 200ms;
}

.background_grey2:hover {
    /* background-color: rgba(92, 92, 241, 0.61); */
    background-color: #ff00002c;
    transform: scale(1.05);
}

.background_grey3 {
    padding: 5px;
    background-color: rgba(197, 197, 197, 0.192);
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    transition: all 200ms;
}

.background_grey3:hover {
    /* background-color: rgba(92, 92, 241, 0.61); */
    background-color: #3b9f0c31;
    transform: scale(1.05);
}

.background_grey4 {
    padding: 5px;
    background-color: rgba(197, 197, 197, 0.192);
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    transition: all 200ms;
}

.background_grey4:hover {
    /* background-color: rgba(92, 92, 241, 0.61); */
    background-color: #801d6725;
    transform: scale(1.05);
}

.ModalAffichage.show {
    opacity: 0;
}

.premier_wrap{
    height: 70px;
}

.acf-input-wrap span{
    font-size: 0.850rem;
    color:rgba(255, 0, 0, 0.844);
    position: relative;
    bottom: 2rem;
}

#premier_vue8{
font-size: 0.850rem;
}

.acf-objectif,
.acf-cible,
.acf-prerequis,
.acf-materiel,
.acf-bon_a_savoir,
.acf-prestation{
    font-size: 0.800rem;
}
.titre_page h3{
    font-size: 1.4rem;
    color: #637381;
}

.adresse__text{
    color: #637381;
    font-size: 1rem;
}

.text_mod{
    color: #7635dc !important;
}

.font_size{
    font-size: 0.7rem;
}

.detail__prix__main__ref .bx,
.detail__prix__main__dure .bx,
.detail__prix__main__prix .bx{
    color: #637381;
}

.detail__prix__main__prix2{
    color: #637381;
    font-size: 0.8rem;
}

.postion_fixe a:hover{
    text-decoration: none;
    color: #7635dc;
}
.text_black{
    color: black;
}

/* mises à jours */

.instruction{
    background: rgba(128, 128, 128, 0.193);
    color: black;
    border: none;
    border-radius: 5px;
    padding: .8rem 1rem;
    font-size: 0.850rem;
    margin-left: 2px;
}

/* navigation */

.navigation_detail{
    position: sticky;
    top: 4rem;
    background-color: white;
    z-index: 1;
    padding: .5rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    text-transform: uppercase;
}

.navigation_detail ul li a{
    color: #637381;
    text-decoration: none;
}

.navigation_detail ul li a:hover{
    color: black;
}

.btn_pdf{
    padding: auto 2rem;
    margin-right: 2rem;
    border: none;
    background: #637381;
    color: white;
    border-radius: 5px;
}

.btn_pdf:hover{
    color: black;
    background-color: rgb(224, 223, 223);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn_pdf .bx{
    font-size: 1.3rem;
    position: relative;
    top: .2rem;
}

/* .effacer_cours{
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: all .5s ease;
    margin-top: 5px;
}

.effacer_cours:hover{
    color: red;
    transform: scale(1.05);
}

.effacer_cours .bx{
    font-size: 1.5rem;
    color: red;
    position: relative;
    top: .35rem;
}*/

#preview_reference{
    font-size: 0.850rem;
}

.detail__prix__main__ref p,
.detail__prix__main__dure p,
.detail__prix__main__dure2 p,
.detail__prix__main__prix p{
    font-size: 0.850rem;
    align-items: center;
}

.si_vide a:hover{
    cursor: pointer;
}

.icon_vide{
    font-size: 20rem;
    color: #637381;
    transition: all .5s;
}

.icon_vide:hover{
    background-color: #637381;
    color: white;
    border-radius: 10px;
}

.competence_box{
    /* border: 1px solid grey; */
    position: sticky;
    top: 8.5rem;
}

.competence_box h5{
    background-color: #637381;
    color: white;
    text-transform: uppercase;
}

.suppression_competence{
    background-color: white;
    padding-bottom: .5rem;
    border-radius: 5px;
    transition: all .5s ease;
}

.suppression_competence:hover{
    color: red;
    transform: scale(1.05);
}

.suppression_competence .bx{
    font-size: 1.5rem;
    color: red;
    position: relative;
    top: .35rem;
}

.text_prix{
    font-weight: 700;
}

.check_comp{
    color: #7635dc;
}

.accordion-item{
    border: none;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #637381;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-body {
    padding: 1rem 1.25rem;
    border: 1px solid #63738175;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.prix_range{
    border: none;
    background-color: transparent;
    padding-left: 2rem;
}
.prix_range:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.slide_range{
    background-color: #7635dc !important;
}

.slide_hour,
.slider_day{
    width: 70px;
}

.outline_none:focus{
    box-shadow: none;
    outline: none;
}
.outline:not(:placeholder-shown){
    border: 1px solid rgb(38, 106, 243);
}

.prix_slide{
    width: 50px;
}

.gutter_none{
    --bs-gutter-x: 0rem !important;
}
.text_prix{
    color: black;
    font-weight: 500;
}

.icon_modif{
    position: relative;
    bottom: .35rem;
}

.width_large{
    width: 50rem !important;
    /* margin: 0 auto; */
}

.button_choix{
    border: 1px solid #2ebf91;
    background-color: #2ebf91;
    color: white !important;
    padding: .3rem 1rem;
    border-radius: 15px;
}

.button_choix_hors_ligne{
    border: 1px solid #ee0707;
    background-color: #ee0707;
    color: white !important;
    padding: .3rem 1rem;
    border-radius: 15px;
}

.mettre_en_ligne,
.mettre_hors_ligne{
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #2ebf91;
    width: 4rem;
    border-color: #2ebf91 !important;
}

.form-switch .form-check-input{
    width: 4rem;
    border-color: #ee0707;
}

.warning{
    color: #ee0707;
    font-size: 4rem;
}

.suppression_programme,
.ajouter_cours,
.modifier_cours,
.suppression{
    display: none;
    transition: all 1s ;
}

.accordionItemHeading:hover .suppression_programme,
.accordionItemHeading:hover .ajouter_cours,
.accordionItemHeading:hover .modifier_cours{
    display: block;
}

.cours_hover:hover .suppression{
    display: grid;
    place-content: center;
}

.avertissement{
    background-color: #ee0707 !important;
    color: white !important;
    text-align: center !important;
    justify-content: center !important;
    text-transform: uppercase !important;
}

.apres_ajout_prog{
    color: blue !important;
}

.ribbon {
    position: relative;
    margin-bottom: 30px;
    background-size: cover;
    color: white;
    }
    .ribbon1 {
        position: absolute;
        top: -6.1px;
        right: 10px;
    }
    .ribbon1:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        left: -8.5px;
        bottom: -10.05px;
        border-left: 53px solid transparent;
        border-right: 53px solid transparent;
        border-top: 10px solid #01b5af;
    }
    .ribbon1 span {
        position: relative;
        display: block;
        text-align: center;
        background: linear-gradient(60deg, #02AAB0,#00CDAC);
        font-size: 14px;
        line-height: 1;
        padding: 12px 8px 10px;
        border-top-right-radius: 8px;
        width: 90px;
        color: white;

    }
    .ribbon1 span:before, .ribbon1 span:after {
        position: absolute;
        content: "";
    }
    .ribbon1 span:before {
    height: 6px;
    width: 6px;
    left: -6px;
    top: 0;
    background: linear-gradient(60deg, #02AAB0,#00CDAC);

    }
    .ribbon1 span:after {
    height: 6px;
    width: 8px;
    left: -8px;
    top: 0;
    border-radius: 8px 8px 0 0;
    background: linear-gradient(60deg, #02AAB0,#00CDAC);
    }

#popup{
    height : auto;
    background-color: rgba(255, 166, 0, 0.125);
    position: relative;
    width: 70%;
    margin: auto;
    border:2px solid orange;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: orange;
    cursor: default;
}

#popup a:hover{
    text-decoration: underline;
}

.aide_pogramme {
    position: relative;
    top: 25px;
    padding: 5px;
    cursor: pointer;
}

.aide_competence {
    position: relative;
    /* top: 15px; */
    padding: 5px 5px 5px 10.7px;
    color: white;
    cursor: pointer;
}

.text_aide {
    visibility: hidden;
    width: 350px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: grey;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-transform: none;
    text-align: start;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.aide_pogramme.active .text_aide{
    visibility: visible;
}
.aide_competence.active .text_aide{
    visibility: visible;
}

.module_detail_objet {
    /* background: white; */
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.encre_icon{
    /* color: #28a7eb; */
    font-size: 2rem;
    position: relative;
    top: 8px;
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.encre__icon{
    /* color: #28a7eb; */
    font-size: 2.5rem;
    position: relative;
    top: 8px;
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.view_icon{
    font-size: 2.5rem;
    position: relative;
    bottom: 0px;
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.actions_button_mod{
    visibility: hidden;
}

.liste__formation:hover .actions_button_mod{
    visibility: visible;
}

.form-check-input{
    cursor: pointer;
}

:root {
    --star-size: 20px;
    --star-color: #c8c7c77c;
    --icon-color: #c8c7c77c;
    --star-background: #fc0;
    --icon-background: #7635dc;
}

.Stars{
    --poucentage: calc(var(--note) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;

}
.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--poucentage), var(--star-color) var(--poucentage));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.table-rating-bar .rating-label {
    font-weight: bold;
}

.table-rating-bar .rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}

.table-rating-bar .bar-container {
    width: 100%;
    background-color: #c8c7c752;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.table-rating-bar .bar-container .bar-5 {
    width: var(--progress_bar);
    height: 13px;
    background-color: #fc0;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-4 {
    width: var(--progress_bar);
    height: 13px;
    background-color: #fc0;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-3 {
    width: var(--progress_bar);
    height: 13px;
    background-color: #fc0;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-2 {
    width: var(--progress_bar);
    height: 13px;
    background-color: #fc0;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-1 {
    width: var(--progress_bar);
    height: 13px;
    background-color: #fc0;
    border-radius: 20px;
}

.table-rating-bar td {
    padding-bottom: 10px;
}

.Stars {
    color: #fc0;
}
.rating-star .checked {
    color: #fc0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating-star .checked:hover {
    color: #f9a825;
    cursor: pointer;
}

.text_minifier{
    font-size: .8rem;
}

.moins_avis{
    visibility: hidden;
}

.background_contrast{
    background-color: #a2a4a62c;
    padding-top: 5px;
    height: 31px;
    margin-left: 8px;
    /* border-radius: 5px; */
}

.background_contrast .bx{
    color: #7635dc;
    font-size: 1.3rem;
}

.bx_pourcentage{
    --note: calc(var(--pourcentage) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.bx_pourcentage::before{
    content: "\ef37";
    background: linear-gradient(90deg, var(--icon-background) var(--note), var(--icon-color) var(--note));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#marksChart,
#marksChart1{
    cursor: pointer;
}

.encre__icon_cacher{
    color: #5433FF;
    font-size: 2.5rem;
    position: relative;
    top: 8px;
}

.stars,
.level_cacher,
.encre__icon_cacher{
    display: none;
}

.stars .bx{
    color: var(--star-background);
}