.head_content{
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-height: 300px;
    border: 1px solid rgb(222, 221, 221);
    border-top: none;
}

.first_col{
    padding: 1rem 2rem;
    border: none;
    border-right: 1px solid rgb(222, 221, 221);
}

.action_name{
    background-color: #7635dc;
    border: none;
    border-radius: 15px;
    color: white !important;
    padding: .4rem 1rem;
}

.action_name:hover{
    color: #7635dc !important;
    background-color: white;
    border:1px solid #7635dc;
    border-radius: 15px;
}

.action_other{
    color: #7635dc !important;
    background-color: white;
    border:1px solid #7635dc;
    border-radius: 15px;
    padding: .4rem 1rem;
}

.action_other:hover{
    background-color: #7635dc;
    border: none;
    border-radius: 15px;
    color: white !important;
}

.action_other_not{
    color: red !important;
    background-color: white;
    border:1px solid red;
    border-radius: 15px;
    padding: .4rem 1rem;
}

.action_other_not:hover{
    background-color: red;
    border: none;
    border-radius: 15px;
    color: white !important;
}

.action_name:focus{
    text-decoration: none;
}

.nom_org{
    font-size: 1rem;
}

.nb_modules{
    font-size: 3rem;
    color: #637381;
}

.row_bas{
    border-top: 1px solid rgb(222, 221, 221);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.third_col{
    display: grid;
    place-content: center;
}

.txt_row_bas{
    font-size: 0.850rem;
}

a:hover{
    color: #7635dc;
}

.info_plus{
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 550px;
    border: 1px solid rgb(222, 221, 221);
}

.info_plus2{
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
    border: 1px solid rgb(222, 221, 221);
}

.info_plus3{
    background: white;
    height: 550px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(222, 221, 221);
}

.info_plus4{
    background: white;
    height: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(222, 221, 221);
}

.info_plus5{
    background: white;
    height: 450px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(222, 221, 221);
}

.info_plus6{
    background: white;
    height: 250px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(222, 221, 221);
}

.border_bas{
    border-bottom: 1px solid rgb(222, 221, 221);
    margin-bottom: 15px;
}

.icon_sociaux1{
    font-size: 1.5rem;
    color: #637381;
    position: relative;
    top: .3rem;
}

.icon_sociaux1{
    font-size: 1.5rem;
    color: #7635dc;
    position: relative;
    top: .3rem;
}

.icon_sociaux2{
    font-size: 1.5rem;
    color: #26a0da;
    position: relative;
    top: .3rem;
}

.icon_sociaux3{
    font-size: 1.5rem;
    color: #2ebf91;
    position: relative;
    top: .3rem;
}

.icon_sociauxf{
    font-size: 1.5rem;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    top: .3rem;
}

.icon_sociauxist{
    font-size: 1.5rem;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    top: .3rem;
}

.icon_sociauxtwt{
    font-size: 1.5rem;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    top: .3rem;
}

.icon_sociauxin{
    font-size: 1.5rem;
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    top: .3rem;
}

.test{
    vertical-align: bottom;
}

.icon_infos{
    font-size: 5rem;
    position: relative;
    color: #7635dc;
    left: 5px;
    top: 30px;
}

.icon_infos2{
    font-size: 5rem;
    position: relative;
    color: #26a0da;
    left: 5px;
    top: 30px;
}

.icon_infos3{
    font-size: 5rem;
    position: relative;
    color: #2ebf91;
    left: 5px;
    top: 30px;
}

.second_col{
    padding: 0 2rem;
    border: none;
    border-right: 1px solid rgb(222, 221, 221);
    background-color: #63738115;
}

.borderBotom_color{
    border-bottom: 3px solid #7635dc;
}
.borderBotom_color2{
    border-bottom: 3px solid #26a0da;
}
.borderBotom_color3{
    border-bottom: 3px solid #2ebf91;
}

a:focus{
    text-decoration: none;
}

.bx_modifier{
    display: none;
    transition: all .5s;
}

.afficher_icon_modif:hover .bx_modifier{
    display: block;
    transition: all .5s;
}

.logo{
    display: grid;
    place-content: center;
}

.photo_users{
    color:white;
    font-size: 30px;
    border: none;
    border-radius: 100%;
    height:100px;
    width:100px ;
    display: grid;
    place-content: center;
}